@inherits LayoutComponentBase


<div class="page position-relative">

    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main-layout">

        <main class="position-relative">
            @Body
        </main>

        <footer class="mt-auto p-4">
            <div class="inner d-flex justify-content-end">
                <img src="image/milton.png" style="width:10rem;" alt="Milton logo" />
            </div>
        </footer>
    </div>

</div>

<style>
    .main-layout {
        display: grid;
        min-height: 100%;
        width: 100%;
        grid-template-columns: 100%;
        grid-template-rows: 1fr auto;
    }
</style>