@page "/"

<PageTitle>Home</PageTitle>

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column align-items-center  justify-content-center">  
    <h1 class="cover-heading">Taliga Roland</h1>
    <p class="lead">CACA6C</p>
    <p class="lead">
        <a href="/counter" class="btn btn-lg btn-secondary">Let me see</a>
    </p>
</div>
